/* Google font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.title{
    color: #eb2f06;
}
.ph{
    color: #696969;
}
.flex{
    display: flex;
    background-image: url(pic/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.half{
    width: 50%;
    padding: 7%;
}
.expirence{
    background-image: url(pic/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.expirence-item{
    width: 40%;
    margin: 0 auto 40px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 10px 10px 30px #576574;
}
#e-i1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#footer p{
    padding-top: 40px;
    text-align: center;
    margin-top: 90px;
    border-top: 2px solid #ecf0f1;
}
#e-i2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
.half img{
    width: 80%;
}
.half p{
    font-size: 100%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 9px;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.dream big{
    background-image: url(pic/exp-bg.png)
}
.service-area{
	background-color: #fff;
	padding: 80px 0;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.section-title{
	text-align: center;
	color: #2980b9;
	margin-bottom: 15px;
	}
.section-title h2{
	font-size: 40px;
}
.service-content{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between; 
}
.service-iteam{
	width: 32%;
	position: relative;
	margin-top: 20px;
	overflow: hidden;	
}
.service-overlay{
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;	
	left: 0;
	display: flex; 
	justify-content: center;
	align-items: center;
	transition: .5s;
	}
.service-overlay a{
	color: #FBB03B;
	font-size: 20px;
} 
.service-iteam:hover .service-overlay{
	top: 0;
}